---
import Events from "../components/Events.astro";
import PageLayout from "../layouts/PageLayout.astro";

interface Event {
	img: string;
	place: string;
	date: string;
	eventName: string;
	eventDescription: string;
	discount?: string;
	promotion?: string;
	price: string;
}

const events: Event[] = [
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4354.jpg?v=1686663723",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "Desde cero, Musical improvisado",
		eventDescription:
			"Desde Cero “un musical improvisado” junta lo mejor del teatro musical y la improvisación.",
		price: "Desde $39.99",
	},
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4554.jpg?v=1685635604",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "ALUMNADX CASA PEÑAVERA 3",
		eventDescription:
			"Jesús Nafarrete, Daniela Zarazúa, Fer Retis, Oscar Peréz, Fernanda Aldre , Eve Ortiz",
		price: "Desde $39.99",
	},
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4251.jpg?v=1684418000",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "DISOCIADA La Vero Gómez ATLANTA",
		eventDescription:
			"¿Alguna vez has sentido que eres varias personas al mismo tiempo?",
		price: "Desde $39.99",
		promotion: "Martes de 2x1",
	},
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4704.jpg?v=1686629328",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "Encuento con: Ismael Cala",
		eventDescription:
			"Liderazgo e inteligencia emocional son las herramientas del éxito para nuestros niños.",
		price: "Desde $39.99",
		discount: "10% OFF",
	},
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4704.jpg?v=1686629328",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "Encuento con: Ismael Cala",
		eventDescription:
			"Liderazgo e inteligencia emocional son las herramientas del éxito para nuestros niños.",
		price: "Desde $39.99",
		discount: "10% OFF",
		promotion: "Martes de 2x1",
	},
];

const onDemandEvents: Event[] = [
	{
		img: "https://img.v3.goliiive.com/experiencia/flyer/4795.jpg?v=1686624646",
		place: "Maracaibo",
		date: "Sep. 2023",
		eventName: "Skinny Dipping",
		eventDescription:
			"Isabel y Chema están casados por cinco años. Isabel es dueña de un negocio de bienes y raíces, en el cuál le vá muy mal, y Chema es un taxista",
		price: "Desde $39.99",
		discount: "10% OFF",
	},
];
---

<PageLayout hasNavbar={false}>
	<!-- Banner -->
	<section
		class="bg-gray-800 py-48"
		style="background-image: url('https://img.v3.goliiive.com/experiencia/imgppal/202303221103426.webp'); background-size: cover; background-position: center;"
	>
		<div class="container mx-auto text-center py-20">
			<h1 class="text-4xl font-bold text-white mb-4">
				¡Vive experiencias únicas!
			</h1>
			<p class="text-gray-400">
				Descubre lugares maravillosos y vive momentos inolvidables con nosotros
			</p>
		</div>
	</section>
	<!-- End Banner -->

	<!-- Experiencias en México -->
	<section class="pt-10 px-4">
		<div class="container md:w-full lg:w-5/6 mx-auto">
			<!-- Buscador-->
			<div class="flex flex-col items-center mb-6">
				<div
					class="relative text-gray-600 focus-within:text-gray-400 w-full sm:w-3/4 md:w-2/3 lg:w-1/2"
				>
					<input
						type="search"
						class="py-1 border-2 border-gray-300 text-lg text-blue-300 bg-white rounded-md pl-10 pr-10 focus:outline-none focus:bg-white focus:font-bold focus:text-blue-300 w-full"
						placeholder="Buscar por Artista, evento, ubicac..."
					/>
					<span class="absolute inset-y-0 right-0 flex items-center pr-2">
						<button
							type="submit"
							class="p-1 focus:outline-none focus:shadow-outline"
						>
							<svg
								class="w-8 h-8"
								stroke="currentColor"
								fill="none"
								viewBox="0 0 24 24"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M21 21l-4.35-4.35M15.5 10.5a5 5 0 1 1-7.8 4.1 5 5 0 0 1 7.8-4.1"
								></path>
							</svg>
						</button>
					</span>
				</div>
			</div>
			<!-- End Buscador-->

			<Events
				title="Experiencias en México"
				events={events}
				flagUrl="https://cdn.countryflags.com/thumbs/mexico/flag-800.png"
			/>

			<Events title="On Demand" events={onDemandEvents} />

			<Events
				title="Experiencias en Venezuela"
				events={events}
				flagUrl="https://cdn.countryflags.com/thumbs/venezuela/flag-800.png"
			/>

			<Events
				title="Experiencias en Estados Unidos"
				events={events}
				flagUrl="https://www.countryflags.com/wp-content/uploads/united-states-of-america-flag-png-large.png"
			/>
		</div>

		<!-- CTAS -->
		<section class="bg-gray-100 py-8 mt-16">
			<div class="container mx-auto">
				<div class="flex flex-col md:flex-row">
					<div class="md:w-1/3 p-4">
						<img
							src="https://via.placeholder.com/500x500"
							alt="Imagen 1"
							class="w-full h-48"
						/>
					</div>
					<div class="md:w-1/3 p-4">
						<img
							src="https://via.placeholder.com/500x500"
							alt="Imagen 2"
							class="w-full h-48"
						/>
					</div>
					<div class="md:w-1/3 p-4">
						<img
							src="https://via.placeholder.com/500x500"
							alt="Imagen 3"
							class="w-full h-48"
						/>
					</div>
				</div>
			</div>
		</section>
	</section>
	<!-- End Experiencias en México -->
</PageLayout>
